# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Instance folder for Flask
instance/

# Database files
recipes.db

# Migrations folder
migrations/

# Configuration files that contain sensitive information
.env

# IDE/editor specific files
.vscode/
.idea/

# Other files to ignore
*.log
*.sqlite
